@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
* {
    background-color: #0E6251;
    color: #e5fffa; 
    font-family: 'Montserrat', sans-serif;  
}

h1 {
    padding: 30px 40px 0px 120px;

}

p{
    padding: 4px 40px 0px 120px;
    font-size: 20px;
}

#chart {
    margin: 10px 0px 0px;
    padding: 0px 40px;
}