@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

*{
    background-color: #212F3D;
    color: white; 
    font-family: 'Montserrat', sans-serif;  
}


h1 {
    font-size: 40px;
    padding: 40px 40px 10px 100px;
    font-weight: bold;
    text-align: center;
}

#chart {
    margin: 10px;
    padding: 20px;
}